<header class="text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
      		Congrats! You added Boobot to your Slack channel. Type: "/boobot" to start using it. 
      </div>
  	</div>
   </div>
</header>